.title {
  background-color: transparent;
  color:white;
  font-family: Goudy Old Style;
  padding-left: 20px;
  padding-top: 10px;
}

.para {
  background-color: transparent;
  color:white;
  font-family: Goudy Old Style;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.graph {
  background-color: transparent;
  border: 1px dotted whitesmoke;
  margin-left: 20px;
  margin-right:20px;
}

.background {
    background-color: black;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  position: relative;
}

body:before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
}